<table mat-table [dataSource]="datos" class="mat-elevation-z8">
  <ng-container matColumnDef="nombrePunto">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let e">{{ e.pluviometro.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="horaActual">
    <th mat-header-cell *matHeaderCellDef>Hora actual</th>
    <td mat-cell *matCellDef="let e">{{ e.precipitacionesHoraActual }}</td>
  </ng-container>

  <ng-container matColumnDef="ultimas12horas">
    <th mat-header-cell *matHeaderCellDef>Ultimas 12h</th>
    <td mat-cell *matCellDef="let e">{{ e.precipitacionesUltimas12horas }}</td>
  </ng-container>

  <ng-container matColumnDef="acumuladoHoy">
    <th mat-header-cell *matHeaderCellDef>Acumulado hoy</th>
    <td mat-cell *matCellDef="let e">{{ e.precipitacionesAcumuladoHoy }}</td>
  </ng-container>

  <ng-container matColumnDef="acumuladoAyer">
    <th mat-header-cell *matHeaderCellDef>Acumulado ayer</th>
    <td mat-cell *matCellDef="let e">{{ e.precipitacionesAcumuladoAyer }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
