<div class="prec-tabla">
  <table
    mat-table
    matSort
    [dataSource]="datosTabla"
    class="mat-elevation-z8"
    [hidden]="datosTabla.data.length === 0"
    matSortActive="acumuladoHoy"
    matSortDirection="desc"
  >
    <ng-container matColumnDef="nombrePunto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let e">
        <div>
          <span *ngIf="e?.favorito">
            <button mat-raised-button (click)="favorito.emit(e.pluviometro.nombreWeb)">
              <mat-icon class="favorito-activo" aria-hidden="false" aria-label="Favorito">star</mat-icon>
            </button>
          </span>
          <span *ngIf="!e?.favorito">
            <button mat-raised-button (click)="favorito.emit(e.pluviometro.nombreWeb)">
              <mat-icon class="favorito-desactivo" aria-hidden="false" aria-label="Favorito">star_border</mat-icon>
            </button>
          </span>
          <span *ngIf="e.coordenadasDecimal">
            <button mat-raised-button (click)="abrirMapa.emit(e)">
              <mat-icon class="mapa" aria-hidden="false" aria-label="Mapa">location_on</mat-icon>
            </button>
          </span>
          <span>
            {{ e.pluviometro.nombreWeb }} <span>({{ e.provincia.codigo }})</span>
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="horaActual">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="boton-header-alineado-verticalmente">Act</th>
      <td mat-cell *matCellDef="let e">{{ e.precipitacionesHoraActual }}</td>
    </ng-container>

    <ng-container matColumnDef="horaAnterior">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="boton-header-alineado-verticalmente">Ant</th>
      <td mat-cell *matCellDef="let e">{{ e.precipitacionesHoraAnterior }}</td>
    </ng-container>

    <ng-container matColumnDef="acumuladoHoy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="boton-header-alineado-verticalmente">hoy</th>
      <td mat-cell *matCellDef="let e">{{ e.precipitacionesAcumuladoHoy }}</td>
    </ng-container>

    <ng-container matColumnDef="acumuladoAyer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="boton-header-alineado-verticalmente">ayer</th>
      <td mat-cell *matCellDef="let e">{{ e.precipitacionesAcumuladoAyer }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ 'favorito-columna': row?.favorito }"></tr>
  </table>

  <mat-spinner class="prec-tabla--spinner" *ngIf="datosTabla.data.length === 0"></mat-spinner>
</div>
