@use 'colores';
@use 'material-configuracion';
@use 'fuentes';
@import "./_tamano-pantallas";


html, body { height: 100%; }
body { margin: 0; font-family: "Noto Sans HK", "Noto Sans", sans-serif;}

// CONFIGURACIÓN GLOBALS ===================
* { font-family: "Noto Sans HK", "Noto Sans", sans-serif; }
h1 {font-family: "Noto Sans HK"; font-weight: 700; font-size: 1.6em; margin: 0;}
h2 {font-family: "Noto Sans HK"; font-weight: 700; font-size: 1.4em; margin: 0;}
h3 {font-family: "Noto Sans HK"; font-weight: 700; font-size: 1.2em; margin: 0;}
h4 {font-family: "Noto Sans HK"; font-weight: 500; font-size: 1.1em; margin: 0;}
h5 {font-family: "Noto Sans HK"; font-weight: 500; font-size: 1em; margin: 0;}
p {font-family: "Noto Sans HK"; font-weight: 400; font-size: 0.9em; margin: 0;}

body {
  @media (max-width: $pantalla-pequena) {
    font-size: 1em;
  }
  @media (min-width: calc($pantalla-pequena + 1px)) and (max-width: $pantalla-mediana) {
    font-size: 1.2em;
  }

  @media (min-width: calc($pantalla-mediana + 1px)) {
    font-size: 1.3em;
  }

}
//==========================================



// ESTILOS GLOBALES ========================
.sombreado-1 {
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.15);
}
//==========================================

// ESTILOS MATERIAL ========================
.selector-multiple-seleccionado {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(207, 255, 217, 0.5);
  }
}

.boton-header-alineado-verticalmente {
  .mat-sort-header-container {
    display: flex;
    flex-direction: column;
    width: 55px;
    .mat-sort-header-arrow {
      margin: 0.2em 0 0 0;
    }
  }
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.oscuro {
    background: #000;
    opacity: 0.5 !important;
  }
}

.mapa-pluviometria, .mat-dialog-container {
  padding: 0 !important;
}
//==========================================

