<div class="prec-filtro sombreado-1">
  <h3 class="prec-filtro__titulo">FILTROS</h3>

  <div class="prec-filtro__filtros">
    <div class="prec-filtro__filtros__estaciones">
      <div class="prec-filtro__filtros__estaciones--titulo">Filtrar por estaciones meteorológicas:</div>

      <div class="prec-filtro__filtros__estaciones--filtro">
        <mat-form-field appearance="fill">
          <mat-label>ESTACIONES</mat-label>
          <mat-select multiple disabled="true">
            <mat-option *ngFor="let provincia of provinciasLista" [value]="provincia">{{ provincia }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle disabled="true"></mat-slide-toggle>
      </div>
    </div>

    <div class="prec-filtro__filtros__provincias">
      <div class="prec-filtro__filtros__provincias--titulo">Filtrar por provincias:</div>

      <div
        class="prec-filtro__filtros__provincias--filtro"
        [ngClass]="{ 'selector-multiple-seleccionado': provinciasSeleccionadasEstado && provinciasSeleccionadas.length > 0 }"
      >
        <mat-form-field appearance="fill">
          <mat-label>PROVINCIAS</mat-label>
          <mat-select multiple (valueChange)="provinciasSeleccionadas = $event; filtrar()">
            <mat-option *ngFor="let provincia of provinciasLista" [value]="provincia.codigo">{{ provincia.valor }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="provinciasSeleccionadasEstado" (change)="filtrar()"></mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
