<div class="prec-filtro sombreado-1">
  <h5 class="prec-filtro__titulo">OPCIONES DE TABLA</h5>

  <div class="prec-filtro__filtros">
    <div class="prec-filtro__filtros__estaciones">
      <p class="prec-filtro__filtros__estaciones--titulo">Establecer favoritos:</p>

      <div
        class="prec-filtro__filtros__estaciones--filtro"
        [ngClass]="{ 'selector-multiple-seleccionado': filtros.favoritosSeleccionadosEstado && filtros.favoritosSeleccionados.length > 0 }"
      >
        <mat-form-field appearance="fill" disabled>
          <mat-label>FAVORITOS</mat-label>
          <mat-select
            multiple
            [ngModel]="filtros.favoritosSeleccionados"
            (valueChange)="filtros.favoritosSeleccionados = $event; aplicarFiltros()"
            [disabled]="_datosOriginales.length === 0"
          >
            <mat-option *ngFor="let datoOriginal of _datosOriginales" [value]="datoOriginal.pluviometro.nombre">
              ({{ datoOriginal.provincia.codigo }}) {{ datoOriginal.pluviometro.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="filtros.favoritosSeleccionadosEstado" (change)="aplicarFiltros()"></mat-slide-toggle>
      </div>
    </div>

    <div class="prec-filtro__filtros__provincias">
      <p class="prec-filtro__filtros__provincias--titulo">Filtrar por provincias:</p>

      <div
        class="prec-filtro__filtros__provincias--filtro"
        [ngClass]="{ 'selector-multiple-seleccionado': filtros.provinciasSeleccionadasEstado && filtros.provinciasSeleccionadas.length > 0 }"
      >
        <mat-form-field appearance="fill">
          <mat-label>PROVINCIAS</mat-label>
          <mat-select multiple [ngModel]="filtros.provinciasSeleccionadas" (valueChange)="filtros.provinciasSeleccionadas = $event; aplicarFiltros()">
            <mat-option *ngFor="let provincia of provinciasLista" [value]="provincia.codigo">{{ provincia.valor }} ({{ provincia.codigo }})</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="filtros.provinciasSeleccionadasEstado" (change)="aplicarFiltros()"></mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
